@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

:root {
  --dark: #464545;
  --thumb-bg: #57505065;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--thumb-bg);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
::-webkit-scrollbar-track {
  background: #252423;
}

body {
  background: #202020;
  overflow-x: hidden;
 background-blend-mode: multiply;
  color: #f2f2f2;
}

.background{
  background: #323232 ;
  background-blend-mode: multiply;
}

body::before{
  content: '';
  position: absolute;
  z-index: -1;
  top: -15rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  filter: blur(50px);
  background: linear-gradient(to right, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
  width: 100vw;
  height: 300px;
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.gradient {
  @apply bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500
}

.gradient-google {
  background: linear-gradient(-120deg, #0477BF, #49BF72, #F2DC6B, #F24B59);
}

.text-gradient {
  @apply font-extrabold text-transparent bg-clip-text gradient;
}
